
<div class="container">
    <div class="row">
        <div class="col-lg-2">

            <ul class="list-group">
                <li class="list-group-item"><a ng-click="act=1">志愿服务</a></li>
                <li class="list-group-item"><a ng-click="act=2">等级考试</a></li>
                <li class="list-group-item"><a ng-click="act=3">社团活动</a></li>
                <li class="list-group-item"><a ng-click="act=4">活动演出</a></li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div ng-show="act==1">
                <h3>志愿服务</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            活动名称
                        </th>
                        <th>
                            活动内容
                        </th>
                        <th>
                            地点
                        </th>
                        <th>
                            开始时间
                        </th>
                        <th>
                            注意事项
                        </th>
                        <th>
                            剩余名额
                        </th>
                        <th>
                            是否报名
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="act==2">
                <h3>等级考试</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                活动名称
                            </th>
                            <th>
                                活动内容
                            </th>
                            <th>
                                地点
                            </th>
                            <th>
                                开始时间
                            </th>
                            <th>
                                注意事项
                            </th>
                            <th>
                                剩余名额
                            </th>
                            <th>
                                是否报名
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CET-4</td>
                            <td>College English Test Band 4</td>
                            <td>另行通知</td>
                            <td>2017-04-09 13:30</td>
                            <td>携带准考证、学生证件等</td>
                            <td>--</td>
                            <td><a href="#">报名</a></td>
                        </tr>
                        <tr>
                            <td>CET-4</td>
                            <td>College English Test Band 4</td>
                            <td>另行通知</td>
                            <td>2017-04-09 13:30</td>
                            <td>携带准考证、学生证件等</td>
                            <td>--</td>
                            <td><a href="#">报名</a></td>
                        </tr>
                        <tr>
                            <td>CET-4</td>
                            <td>College English Test Band 4</td>
                            <td>另行通知</td>
                            <td>2017-04-09 13:30</td>
                            <td>携带准考证、学生证件等</td>
                            <td>--</td>
                            <td><a href="#">报名</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="act==3">
                <h3>社团活动</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            活动名称
                        </th>
                        <th>
                            活动内容
                        </th>
                        <th>
                            地点
                        </th>
                        <th>
                            开始时间
                        </th>
                        <th>
                            注意事项
                        </th>
                        <th>
                            剩余名额
                        </th>
                        <th>
                            是否报名
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="act==4">
                <h3>活动演出</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            活动名称
                        </th>
                        <th>
                            活动内容
                        </th>
                        <th>
                            地点
                        </th>
                        <th>
                            开始时间
                        </th>
                        <th>
                            注意事项
                        </th>
                        <th>
                            剩余名额
                        </th>
                        <th>
                            是否报名
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    <tr>
                        <td>CET-4</td>
                        <td>College English Test Band 4</td>
                        <td>另行通知</td>
                        <td>2017-04-09 13:30</td>
                        <td>携带准考证、学生证件等</td>
                        <td>--</td>
                        <td><a href="#">报名</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('.list-group a').click(
        function(){
            console.log($(this).attr("href"))
            var goal=$(this).attr("href");
            $(goal).addClass('show').siblings('.show').removeClass('show')
        }
    )
</script>