
<div class="container">
    <div class="row">
        <div class="col-lg-2">

            <ul class="list-group">
                <li class="list-group-item"><a ng-click="see=false;">个人信息</a></li>
                <li class="list-group-item"><a ng-click="see=true;">修改密码</a></li>
            </ul>

        </div>
        <div class="col-lg-5 col-lg-offset-1">

            <div id="info1" ng-show="!see">
                <img src="img/1.jpg" alt="" class="img-thumbnail" style="display: table;margin-left: auto;width:auto; margin-right: auto;margin-bottom:40px;">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>姓名:</td>
                        <td>XX</td>
                    </tr>
                    <tr>
                        <td>学号:</td>
                        <td>13521908</td>
                    </tr>
                    <tr>
                        <td>身份证号:</td>
                        <td>110108199703248475</td>
                    </tr>
                    <tr>
                        <td>政治面貌:</td>
                        <td>党员</td>
                    </tr>
                    <tr>
                        <td>学院:</td>
                        <td>土木工程</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="info2" class="show" ng-show="see">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="userName">用户名: </label>
                        <input id="userName" class="form-control" type="text">
                        <p>用户名为本人学号</p>
                        <label for="pwd1">输入原密码: </label>
                        <input id="pwd1" class="form-control" type="password">
                        <p>内容不能为空，密码为6-8位数字或大小写字母</p>
                        <label for="pwd2">输入新密码: </label>
                        <input id="pwd2" class="form-control" type="password">
                        <p>内容不能为空，密码为6-8位数字或大小写字母</p>
                        <label for="pwd3">确认新密码: </label>
                        <input id="pwd3" class="form-control" type="password">
                        <p>内容不能为空或与输入密码不一致！</p>
                        <button type="submit" class="btn btn-primary pull-right">确认修改</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>